@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing:border-box;
}


html {

    font-family: "roboto mono", sans-serif;
    font-size: 25px;

}

div.zaglavlje {
    width: 100%;
    color:blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: lightcyan;
    padding: 2%;
}

div.zaglavlje_sadrzaj {
    width: fit-content;
    padding:1vw;
    width: 20%;
    min-width: 300px;
}

div#logo {
    background-color:aliceblue;
}

div#nazivstr {
    background-color:antiquewhite;
}

div#kosr_i_pretr {
    background-color:aqua;
}

div.sidebar {
    width: 30%;
    min-width: 240px;
    background-color:aliceblue;
    font-size: 0.9rem;
    float: left;
}

div.kategorijagumb {
    padding:1%;
    text-align: center;
    cursor: pointer;
}

div.kategorijagumb:hover {
    border-width: 4px;
    border-color: black;
    background-color: antiquewhite;
}

div.kategorijagumb:active {
    background-color:white;
}

div.proizvodi {
    background-color:black; 
    width: 70%; 
    height: 320px;
    display: inline-block;
}

div.proizvod {
    color: white;
}


@media screen and (min-width: 1024px) {
    
    html {
        font-size: 35px;
    }

}

