@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing:border-box;
    align-content: center;
    text-align: center;
    align-items: center;
}


html {

    font-family: "roboto mono", sans-serif;
    font-size: 20px;

}

div.zaglavlje {
    width: 100%;
    padding: 2%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;;
}

div.zaglavlje_sadrzaj {
    padding:3vw;
}

div.zaglavlje_sadrzaj#logo {
    width: auto;
}

div.zaglavlje_sadrzaj#nazivkat {
    width: 50%;
    font-size: 1.5rem;
}

div.zaglavlje_sadrzaj#kosr_i_pretr {
    display: flex;
    flex-direction: row;
}

div.kosr_i_pretr {
    margin-right:1vw;
    margin-left:1vw;
}

div.naslovnaslika {
    width: 100%;
    height: auto;
    float: right
}

img.naslovnaslika {
    width: 100%;
    height: auto;
}

div.sidebar {
    width: 25vw;
/*    min-width: 240px;*/
    font-size: 0.9rem;
    float: left;
}

div.kategorijagumb {
    padding:1%;
    text-align: center;
    cursor: pointer;
    border-top-style:dashed;
    border-color: black;
    font-size: 1.2rem;
    user-select: none;
}

div.kategorijagumb:hover {
    border-width: 4px;
    border-color: black;
}

div.kategorijagumb:active {
}

div.ekstra {
    display: flex;
    flex-flow: column wrap;
    border-top-style: dashed;
    border-color: black;
}

div.proizvodi {
    float:right;
    width: 60vw;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 2vw;
}

div.proizvod {
    border-style: solid;
    border-color: black;
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    user-select: none;
}

img.proizvod {
    width: 160px;
    height: auto;
}


img.kosr_i_pretr {
    width: 40px;
}

div.kosr_proizvodi {
    min-height: 128px;
    align-content: start;
}

div.kosr_proizvod {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 64px;
    margin-top:5px;
}

div.kosr_proizvod_naziv {
    width: 70%;
}

div.kosr_proizvod_dodaj {
    width: 10%;
    cursor: pointer;
}

div.kosr_proizvod_brojac {
    width: 10%;
}

div.kosr_proizvod_makni {
    width: 10%;
    cursor: pointer;
}


@media screen and (min-width: 1024px) {
    
    html {
        font-size: 30px;
    }

    div.naslovnaslika {
        width: 70%;
    }

    div.proizvod {
        width: 300px;
    }

    img.proizvod {
        width: 240px;
    }

    div.naslovnaslika {
        border-left: none;
    }

}

