@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing:border-box;
    align-content: center;
    text-align: center;
    align-items: center;
}


html {

    font-family: "roboto mono", sans-serif;
    font-size: 20px;

}

div.zaglavlje {
    width: 100%;
    padding: 2%;

    color:blue;
    background-color: lightcyan;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;;
}

div.zaglavlje_sadrzaj {
    padding:3vw;
}

div.zaglavlje_sadrzaj#logo {
    background-color:aliceblue;
    width: auto;
}

div.zaglavlje_sadrzaj#nazivkat {
    background-color:antiquewhite;
    width: 50%;
}

div.zaglavlje_sadrzaj#kosr_i_pretr {
    background-color:aqua;
    display: flex;
    flex-direction: row;
    width: auto;
}

div.naslovnaslika {
    width: 100%;
    height: auto;
    background-color:white;
    float: right;
    border-bottom-style: solid;
    border-color: black;
}

img.naslovnaslika {
    width: 100%;
    height: auto;
}

div.sidebar {
    width: 30%;
/*    min-width: 240px;*/
    background-color:aliceblue;
    font-size: 0.9rem;
    float: left;
}

div.kategorijagumb {
    border-right-style: solid;
    border-color: black;
    padding:1%;
    text-align: center;
    cursor: pointer;
    border-bottom-style:dashed;
    border-left: none;
}

div.kategorijagumb:hover {
    border-width: 4px;
    border-color: black;
    background-color: antiquewhite;
}

div.kategorijagumb:active {
    background-color:white;
}

div.proizvodi {
    float:right;
    width: 70%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color:beige;
}

div.proizvod {
    background-color:black; 
    color:white;
    border-style: solid;
    border-color: white;
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    display:flex;
    flex-flow: column wrap;
    align-items:center;
}

img.proizvod {
    width: 160px;
    height: auto;
    border-style: solid;
    border-color: white;
}


img.ikonica {
    width: 1000px;
}

div.kosr_proizvodi {
    background-color:aliceblue;
    border-top-style: dashed;
    border-color: black;
    min-height: 128px;
}

div.kosr_proizvod {
    border-top-style: dashed;
    border-color: black;
    display: flex;
    flex-flow: row wrap;
    min-height: 64px;
}

div.kosr_proizvod_naziv {
    width: 70%;
}

div.kosr_proizvod_dodaj {
    width: 10%;
    cursor: pointer;
}

div.kosr_proizvod_brojac {
    width: 10%;
}

div.kosr_proizvod_makni {
    width: 10%;
    cursor: pointer;
}


@media screen and (min-width: 1024px) {
    
    html {
        font-size: 30px;
    }

    div.naslovnaslika {
        width: 70%;
    }

    div.proizvod {
        width: 300px;
    }

    img.proizvod {
        width: 240px;
    }

    div.naslovnaslika {
        border-left: none;
    }

}

