<!DOCTYPE html>

<html>

    <head>

        <title>Movie List App</title>

        <link rel="stylesheet" href="/css/site.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>

        <div class="card" id="home">

            <h1>Welcome to the Movie List App</h1>

            <form action="/movies" method="GET">
                <input type="submit" value="View Movie List" class="button">
            </form>

        </div>

    </body>

</html>