h1 {
    font-size: 100px;
}

p {
    font-size: 50px;
}

.div1 {
    background-color:rgb(196, 250, 242);
}

.programskitekst {
    background-color: rgb(50, 50, 50);
    color: white;
}

table {
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding:10px;
    min-width:200px;
    text-align:left;
}

.ferweblink {
    padding: 3px;
}

.ferweblink:hover {
    border: 1px solid blue;
    padding: 3px;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
}